<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p> Has made <%= @user.ratings.count %> ratings,average <%= @user.average_rating %></p>

<strong> Ratings: </strong>
<ul>
  <% @user.ratings.each do |rating| %>

      <li>
        <%= link_to rating.beer.name, rating.beer %> <%= rating.score %>
        <% if @user == current_user %>
            <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete,data: {confirm:'Are you sure?'} %>
        <% end %>
      </li>



  <% end %>
</ul>

<p>
  Favorite style: <%=@user.favorite_style  if @user.favorite_style %>
</p>

<p>
  Favorite brewery: <%=link_to  @user.favorite_brewery.name, @user.favorite_brewery if @user.favorite_brewery%>
</p>


<strong> Beer Clubs:</strong>
<ul>
  <% @user.beer_clubs.each do |beerclub| %>
  <li> <%= link_to beerclub,beerclub %></li>
  <% end %>
</ul>

<% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

<%= link_to 'Back', users_path %>
