<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p> Has made <%= @user.ratings.count %> ratings,average <%= @user.average_rating %></p>

<strong> Ratings: </strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete,data: {confirm:'Are you sure?'} %>
  <% end %>
</ul>

<strong> Beer Clubs:</strong>
<ul>
  <% @user.beer_clubs.each do |beerclub| %>
  <li> <%= link_to beerclub,beerclub %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
