<p id="notice"><%= notice %></p>


  <h2> <%= @brewery.name%>
   <% if not @brewery.active %>
    <span class="label label-info">retired</span>
    <% end %>
</h2>

<p>
  <i>Established at <%= @brewery.year %></i>
</p>

<p>
<th>Number of beers <%= @brewery.beers.count%></th>
</p>

    <% if @brewery.ratings.size == 0 %>
      Brewery has not been rated yet!
    <% else %>
     Brewery has <%= pluralize(@brewery.ratings.size, 'rating')%>, average <%= @brewery.average_rating.round(2) %>
    <% end %>


<h2>
  Beers:
</h2>
<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name , beer%>
  <% end %>
</p>
<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
<%= link_to "Delete", @brewery,method: :delete, class: "btn btn-danger" , data: { confirm: 'Are you sure?' } if current_user.admin%>
<br>
<br>
<%= link_to 'Edit', edit_brewery_path(@brewery), class: "btn btn-primary" %>
<%= link_to 'Back', breweries_path, class: "btn btn-primary" %>
